.header{
    background-color: #605f5f;
    grid-area: h;
    display: flex;
    align-items: center;
}

.header img{
    width: 100px;
}

.header_content{
    color: white;
    display: flex;
    align-items: center;
    border: solid 4px #2c2c2c;
    margin-left: 20px;
    padding-right: 30px;
    border-radius: 5px;
}