.app_wrapper{
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 'h h'
                       's c';
  grid-gap: 10px;
}

.content{
  background-color: #f5f5f5;
  grid-area: c;
}
